<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .completed{
      text-decoration: line-through;
      opacity:0.6;
    }
  </style>
</head>
<body>
  <div id="app">
    <div v-bid:style="{color:color, fontSize: fontSize + 'px'}">
      test
    </div>
    <input type="text" v-model="newTodo" v-on:keydown.enter="addTodo">
    <button v-on:click="addTodo">+</button>
    <button>완료항목 삭제</button>
    <li v-for="todo in todos" v-bind:class="{completed: todo.completed}">
      <input type="checkbox" v-model="todo.completed">
      {{todo.title}}
    </li>
    <li v-else v-on:click="check(todo)">
      {{todo.title}}[완료!]
    </li>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el:'#app',
      data: {
        //color:"red",
        //fontSize: 30,
        newTodo: '',
        todos:[
          {
            title:'점심먹기',
            completed: true ,
          },
          {
            title:'파이썬 공부하기',
            completed: false ,
          },
          {
            title:'뷰 공부하기',
            completed: false ,
          },
          {
            title:'낮잠자기',
            completed: true ,
          },
        ],
  //중괄호, 인덴트 중요!!
      },
      methods: {
        check:function(todo){ 
          todo.completed = !todo.completed
        },
        addTodo() {
          console.log(this.newTodo)
          this.todos.push({
            title: this.newTodo,
            completed: false,
          })
          this.newTodo = ''
        },
        clearCompleted() {
            const notCompletedTodos = this.todos.filter((todo)=>{
              return todo.completed === false
            })           
            this.todos = notCompletedTodos
          }
      }
    })
  
  </script>
</body>
</html>

